:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #d6eff4;
  --text-color: #333;
  --hover-color: #0056b3;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
